*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.back-to-main{
    display: block;
    margin: 20px;
    width: max-content;
}

body{
    background: #e6e3ef;
}

.card{
    max-width: 500px;
    background: #f5f5f5;
    width: max-content;
    padding-bottom: 24px;
    margin: 40px auto;
    transition: 0.5s;
}

.card .favorite{
    text-align: right;
}

.card .favorite{
    text-decoration: none;
}

.card:hover{
    transform: scale(1.05);
}

.card h3{
    margin: 8px;
    font-size: 22px;
}

.card .info{
    margin: 8px;
    color: gray;
    width: 300px;
}

.card .price{
    margin: 8px;
    font-weight: bold;
}

.card .old-price{
    font-size: 14px;
    color: #e74c3c;
    text-decoration: line-through;
    margin-left: 8px;
}

.card .button{
    width: 220px;
    height: 40px;
    background: linear-gradient(90deg,rgba(138, 42, 155, 1) 0%, rgba(111, 87, 199, 1) 50%, rgba(83, 237, 229, 1) 100%);
    border: 1px solid;
    border-radius: 5px;
}

button:hover{
    color: antiquewhite;
    transition: opacity 0.3s
}

button:active{
    color: burlywood;
    background: linear-gradient(90deg,rgba(138, 42, 155, 1) 0%, rgba(83, 237, 229, 1) 100%);;

}